@model CourseMange.Models.CouresMangments

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CouresMangments</legend>

    <div class="display-label">ClassId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClassId)
    </div>

    <div class="display-label">CourseId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseId)
    </div>

    <div class="display-label">Teacher</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Teacher)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
